/* http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } /* remember to define visible focus styles!  :focus { outline: ?????; } */ /* remember to highlight inserts somehow! */ ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

@font-face {
    font-family: IBM;
    src: url('../font/PxPlus_IBM_CGA.ttf');
}

html {
	font-size: 10px;
}

body {
	background: #000;
}

body * {
	font-family: IBM;
}

h1 {
	font-size: 2.4rem;
	color: white;
	text-align: center;
	margin-top: 1.2rem;
}

h2 {
	font-size: 1.4rem;
	color: white;
    position: absolute;
    top: 1rem;
}

#score {
    left: 1rem;
}
#lives {
    right: 2rem;
}

ul {
	margin: 2.4rem 2.4rem;
}

li {
	font-size: 1.6rem;
}

a {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	text-shadow: 2px 2px #555;
}

#wrapper {
	/*margin-top: 1.2rem;*/
}

canvas {
	/*border: 2px solid #aaa;*/
	display: block;
	/*margin: 0 auto;*/
}
